body {
	background-color: 	DarkGray;
}

h2 {
	text-align:		center;
	color:			White;
}

p {
	color: 			White;
	position: 		absolute;
	top: 			-4%;
	text-align: 		left;
	margin-left: 		1.25%;
	font-size: 		45px;
	font-weight: 		bold;
}

#headtag {
	line-height: 		50px;
	border: 		2px;
	text-align: 		center;
	border-radius:		10px;
	background-color: 	DimGray;
	height: 		50px;
}

#maingrid {
	padding: 		1%;
	display: 		grid;
	row-gap: 		20px;
	column-gap: 		20px;
	grid-template-columns: 	33% 66%;
	height: 		475px;
}

#infoheader {
	background-color: 	LightGray;
	border-radius: 		5px;
	text-align:		center;
}

#table {
	background-color: 	LightGray;
	border-radius: 		5px;
}

#backheader {
	background-color:	DimGray;
	border-radius:		5px;
}
