body {
	background-image: 	url(bgp.jpg);
	background-size: 	cover;
	background-repeat:	no-repeat;
}

h2 {
	text-align:		center;
	color:			White;
}

p {
	color: 			White;
	position: 		absolute;
	top: 			-4%;
	text-align: 		left;
	margin-left: 		1.25%;
	font-size: 		45px;
	font-weight: 		bold;
}

#headtag {
	line-height: 		50px;
	border: 		2px;
	text-align: 		center;
	border-radius:		10px;
	background-color: 	DimGray;
	height: 		50px;
}

#maingrid {
	padding: 		1%;
	display: 		grid;
	row-gap: 		20px;
	column-gap: 		20px;
	grid-template-columns: 	33% 33%;
	height: 		475px;
}

#infoheader {
	background-color: 	LightGray;
	border-radius: 		5px;
	text-align:		center;
}

#table {
	background-color: 	LightGray;
	border-radius: 		5px;
	text-align:		center;
	font-size:		25px;
}

#backheader {
	background-color:	DimGray;
	border-radius:		5px;
	font-size:		10px;
}

#form {
	padding: 		3%;
	width: 			94%;
	height: 		50%;
	display: 		grid;
	row-gap: 		10px;
}

#functions {
	display: 		grid;
	grid-template-columns:	47% 47%;
	grid-template-rows:	50% 50%;
	row-gap: 		5px;
	column-gap: 		10px;
	padding: 		10px 0px 0px 10px;
}

button {
	height: 		45px;
}
