body {
	background-color: 	DarkGray;
	padding-top: 10px;
}

p {
	color: 			White;
	position: 		absolute;
	top: 			-4%;
	text-align: 		left;
	margin-left: 		1.25%;
	font-size: 		45px;
	font-weight: 		bold;
}

#headtag {
	line-height: 		50px;
	border: 		2px;
	text-align: 		center;
	border-radius:		5px;
	background-color: 	LightGray;
	height: 		50px;
}
